* {
    font-family: verdana;
    margin: 0;
}

body {
    background: #eee;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.wrapper .flex-container {
    height: 600px;

    border: 3px dashed black;
    padding: 1px;
    margin: 10px;
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;


    flex-wrap: wrap;
    flex-flow: row;

    /* main axis */
    /* cross axis */


}

.box {
    background-color: rgb(125, 203, 1);
    height: 100px;
    flex: 0 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;




    /* flex-grow: 1; */
    /* flex: [flex grow]  [flex shrink] [flex basis] 
    
    flex: 1 - means flex grow and shrink is one but flex basis is 0*/


}

.one {
    background-color: rebeccapurple;

    /* flex-basis: 100px;  */
    /* <!--flex basis or min width similar--> */

}

.two {
    background-color: brown;
    /* flex-basis: 200px; */


}

.three {
    background-color: tomato;
    /* flex-basis: 300px; */


}

.four {
    background-color: magenta;
}

.one {
    order: 1;
}

.two {
    order: 2;
}

.three {
    order: 99;
    /* order greater last order less first , even in negative */
}

.four {
    order: 0;
}